:root {
  --heavygreen: #425f57;
  --softgreen: #749f82;
  --lightgreen: #a8e890;
  --brightgreen: #cfff8d;
  --green: #81b214;
  --white: #fff;
  --sidebar: #3b5441;
  --sidebarhover: #48684f;
  --limegreen: #00ff00;
  --ForestGreen: #228b22;
  --EmeraldGreen: #008000;
  --MintGreen: #98ff98;
  --SeaGreen: #2e8b57;
  --DarkGreen: #006400;
}
